project('{{.PJName}}', 'c', default_options : ['warning_level=3', 'c_std=c99', 'buildtype=debug'])

add_global_arguments(language : 'c')
c = meson.get_compiler('c')

#include dirs
incdir = include_directories('include')

#Sample built-in libs
#mathl = c.find_library('m', required : false)
#runtimel = c.find_library('rt', required : true)
#dlib = c.find_library('dl', required : true)
#raylib = c.find_library('raylib', dirs:'{{.Pwd}}/lib', required: true)


#Sample dependencies
#depz = [dependency('GL'), dependency('X11'), dependency('threads'), raylib, mathl, runtimel, dlib]

#main source
srcs = ['src/main.c']

executable('{{.PJName}}', srcs, include_directories : incdir)

executable('{{.PJName}}', srcs)
