CC = cc
CFLAGS = -Wall -Wextra -Wpedantic -std=c99
OPTFLAGS = -O3 -march=native
OBJDIR = obj
OBJLIST = obj/main.o
SRCLIST = src/main.c
BUILDDIR = build
DEBUGDIR = debug
RELDIR = build/release
#LDFLAGS =
#DIRECTIVES =

{{.PJName}} : $(BUILDDIR)
				$(CC) -g $(SRCLIST) -o $(BUILDDIR)/{{.PJName}} $(CFLAGS) $(LDFLAGS) $(DIRECTIVES)

release: $(OBJLIST) $(RELDIR)
				$(CC) $(OBJLIST) -o $(RELDIR)/{{.PJName}} $(CFLAGS) $(OPTFLAGS) $(LDFLAGS)

obj/main.o : src/main.c $(OBJDIR)
				$(CC) -c src/main.c -o $(OBJDIR)/main.o $(CFLAGS) $(OPTFLAGS) $(LDFLAGS) $(DIRECTIVES)

$(BUILDDIR) : 
				test ! -d $(BUILDDIR) && mkdir $(BUILDDIR) 

$(OBJDIR) :
				test ! -d $(OBJDIR) && mkdir $(OBJDIR) 

$(DEBUGDIR) : 
				test ! -d $(DEBUGDIR) && mkdir $(DEBUGDIR) 

$(RELDIR) : 
				test ! -d $(RELDIR) && mkdir -p $(RELDIR) 

clean :
				rm $(BUILDDIR)/{{.PJName}}
				rm $(RELDIR)/{{.PJName}}
				rm $(OBJLIST)
