CFLAGS = -Wall -Wextra -Wpedantic -std=c99
OBJDIR = obj
BUILDDIR = build
CC = cc
#LDFLAGS = 

{{.PJName}} : obj/main.o $(BUILDDIR)
					$(CC) -o build/{{.PJName}} obj/main.o $(CFLAGS) $(LDFLAGS) 

obj/main.o : src/main.c $(OBJDIR)
				$(CC) -c src/main.c -o obj/main.o $(CFLAGS)

$(BUILDDIR) : 
				test ! -d $(BUILDDIR) && mkdir $(BUILDDIR) 

$(OBJDIR) : 
				test ! -d $(OBJDIR) && mkdir $(OBJDIR) 
clean :
				rm build/{{.PJName}} obj/main.o
