image: fedora/rawhide
packages:
  - cmake
  - meson
sources:
  - https://git.sr.ht/~hyakuburns/{{.PJName}}
tasks:
  - setup: |
      cd {{.PJName}}
      meson build 
  - build: |
      cd {{.PJName}}
      ninja -C build
